<div class="container">
  <%= link_to "Créer une vente", new_owner_product_sale_path(@product), class: "btn btn-primary mt-4" %>
  <div class="Avis">
    <% @reviews.each do |review| %>
      <div class="review">
        <p><%= review.rating %> stars</p>
        <p><%= review.content %></p>
        <p>Posted by <%= review.order.user.first_name %></p>
      </div>
    <% end %>
  </div>
</div>
