<h1>Mes commandes :</h1>

<div class="orders-state">
  <div class="orders-encours">
    <h2>En cours</h2>
    <ul>
      <% @orders.each do |order| %>
        <div class="card-pellet-style">
          <%= render 'products/card_product', product: order.sale.product %>
          <br>
          <%= render 'sales/card_sale_footer', sale: order.sale %>
        </div>
      <% end %>
    </ul>
  </div>
  <div class="orders-validées">
    <h2>Validées</h2>
  </div>

    <h2>Livrées</h2>
  <div class="orders-livrées">
    <ul>
      <% @orders.each do |order| %>
        <li><%= render "shared/product_card" %></li>
      <% end %>
    </ul>
  </div>

    <h2>Annulées</h2>
  <div class="orders-annulées">
    <ul>
      <% @orders.each do |order| %>
        <li><%= render "shared/product_card" %></li>
      <% end %>
    </ul>
  </div>
</div>
