<h1>My Sales</h1>

<ul>
<% @sales.each do |sale| %>
  <li><%= sale.address %></li>
<% end %>
</ul>
<% unless @sales.empty? %>
  <div class="geo-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>
