<div class="footer_relative_content">
  <h1>CONDITIONS GÉNÉRALES DE VENTE DE SHAREWOODS</h1>
  <br>
  <section>
    <h2> Objet</h2>
    <p>Les présentes conditions générales de vente régissent les relations contractuelles entre Sharewoods, représentée par [nom et coordonnées de la société], ci-après dénommée "le site", et toute personne souhaitant effectuer un achat sur le site, ci-après dénommée "le client".</p>
  </section>
  <section>
    <h2>Produits</h2>
    <p>Le site propose la vente de pellets de bois en co-buying. Les produits sont présentés sur le site avec une description détaillée, notamment leur composition, leur conditionnement et leur prix.</p>
  </section>
  <section>
    <h2>Commandes</h2>
    <p>Les commandes s'effectuent via le site. Pour qu'une vente en co-buying soit réussie, le nombre d'acheteurs doit être égal au nombre de produits en vente dans la vente. Les ventes se font par département. Si la vente ne réussit pas à cause d'un nombre insuffisant de personnes intéressées, les personnes ayant fait leur réservation sont remboursées. Le client doit remplir un formulaire de commande précisant les produits souhaités et les informations nécessaires à la livraison.</p>
  </section>
  <section>
    <h2>Prix et paiement</h2>
    <p>Le prix des produits est indiqué sur le site. Les prix sont en euros et TTC. Le paiement s'effectue en ligne au moment de la commande, par carte bancaire. Le site se réserve le droit de modifier ses prix à tout moment, mais les produits seront facturés sur la base des tarifs en vigueur au moment de la validation de la commande.</p>
  </section>
  <section>
    <h2>Livraison</h2>
    <p>La livraison est assurée par le vendeur et non par le site. Le vendeur est identifié sur la fiche produit. Le client est informé de la date de livraison prévue lors de la commande. En cas de retard ou de problème de livraison, le client doit contacter directement le vendeur. Le site décline toute responsabilité en cas de problème de livraison.</p>
  </section>
  <section>
    <h2>Droit de rétractation</h2>
    <p>Le client dispose d'un délai de quatorze jours à compter de la réception des produits pour exercer son droit de rétractation, sans avoir à justifier de motifs ni à payer de pénalités. Le client doit informer le vendeur de sa décision de rétractation et renvoyer les produits dans leur emballage d'origine et en parfait état. Les frais de retour sont à la charge du client.</p>
  </section>
  <section>
    <h2>Responsabilité</h2>
    <p>Le site ne pourra être tenu responsable des dommages de toute nature, tant matériels qu'immatériels ou corporels, qui pourraient résulter d'un mauvais fonctionnement ou de l'utilisation des produits vendus. Le site ne pourra être tenu responsable des pertes de données, de fichiers ou des dommages résultant d'une interruption de service.</p>
  </section>
  <section>
    <h2>Propriété intellectuelle</h2>
    <p>Le contenu du site, notamment les textes, images, logos et vidéos, est la propriété exclusive du site et est protégé par le droit d'auteur. Toute reproduction, représentation, diffusion ou exploitation de tout ou partie du contenu, sans autorisation préalable du site, est strictement interdite.</p>
  </section>
  <section>
   <h2> Protection des données personnelles</h2>
   <p>Le site collecte et traite les données personnelles des clients, conformément à sa politique de confidentialité accessible sur le site, en conformité avec les dispositions du Règlement Général sur la Protection des Données (RGPD). Le client dispose d'un droit d'accès, de rectification, de suppression et de portabilité des données le concernant. Le site s'engage à ne collecter que les données nécessaires à la réalisation de la vente et à ne pas les utiliser à d'autres fins sans le consentement explicite du client. Les données collectées peuvent être transmises aux partenaires du site pour assurer la livraison des produits ou pour des besoins de facturation. Le site prend les mesures techniques et organisationnelles nécessaires pour assurer la sécurité et la confidentialité des données personnelles des clients. Le client peut exercer ses droits en matière de protection des données en contactant le site à l'adresse [adresse de contact].</p>
  </section>
</div>
