<div class="footer_relative_content">
  <h1>Protection de vos informations personnelles</h1>
  <br>
  <p>Chez Sharewood, nous comprenons l'importance de la protection de votre vie privée et nous nous engageons à protéger vos informations personnelles conformément à la réglementation en vigueur.</p>

  <h2>Collecte d'informations personnelles</h2>
  <p>Nous collectons uniquement les informations personnelles nécessaires pour vous fournir nos services et améliorer votre expérience utilisateur. Les informations personnelles que nous collectons peuvent inclure votre nom, votre adresse e-mail, votre adresse physique, votre numéro de téléphone, votre date de naissance, vos préférences de marketing et toute autre information que vous choisissez de nous fournir.</p>

  <h2>Utilisation d'informations personnelles</h2>
  <p>Nous n'utilisons vos informations personnelles qu'à des fins spécifiques, telles que la fourniture de nos services, l'amélioration de votre expérience utilisateur et la communication avec vous. Nous ne vendons ni ne partageons vos informations personnelles à des tiers à des fins commerciales.</p>

 <h2> Protection des informations personnelles</h2>
  <p>Nous prenons des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos informations personnelles contre toute perte, utilisation abusive, accès non autorisé, divulgation ou altération.</p>

  <h2>Cookies et technologies similaires</h2>
  <p>Nous utilisons des cookies et d'autres technologies similaires pour améliorer votre expérience utilisateur et collecter des informations sur votre utilisation de nos services. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur si vous le souhaitez.</p>

  <h2>Vos droits en matière de protection des données</h2>
  <p>Vous avez le droit de demander l'accès, la rectification, la suppression ou la restriction du traitement de vos informations personnelles. Vous avez également le droit de vous opposer au traitement de vos informations personnelles à des fins de marketing direct. Si vous avez des questions ou des préoccupations concernant vos informations personnelles, veuillez nous contacter à l'adresse e-mail suivante : privacy@sharewood.com.</p>

  <p>Nous pouvons mettre à jour cette politique de temps à autre. Veuillez consulter cette page régulièrement pour prendre connaissance des mises à jour éventuelles.</p>
  </section>
</div>
