<main class="footer_relative_content">
  <h1>A propos des Pellets</h1>
   <br>
  <section>
    <h2>1. Économie d'énergie et d'argent</h2>
    <p>Écologique : Les pellets de bois sont fabriqués à partir de matières premières renouvelables et durables, ce qui en fait une source d'énergie écologique. Les pellets de bois produisent également moins de gaz à effet de serre que les combustibles fossiles, contribuant ainsi à réduire notre empreinte carbone.</p>
  </section>

  <section>
    <h2>2. Faible teneur en cendres</h2>
    <p>Économique : Les pellets de bois sont généralement moins chers que les autres sources de combustibles de chauffage, tels que le fioul ou le gaz. En outre, le prix des pellets de bois est généralement plus stable que celui des combustibles fossiles, ce qui peut aider à limiter les coûts de chauffage à long terme.</p>
  </section>

  <section>
    <h2>3. Combustion propre et efficace</h2>
    <p>Haute performance : Les pellets de bois sont une source de chaleur très efficace, offrant un taux de combustion élevé et une teneur en humidité faible. Cela signifie qu'ils produisent plus de chaleur par unité de carburant que les autres combustibles, tels que le bois de chauffage traditionnel.</p>
  </section>

  <section>
    <h2>4. Utilisation de matières premières renouvelables</h2>
    <p>Faible entretien : Les poêles et les chaudières à pellets de bois nécessitent généralement peu d'entretien par rapport aux systèmes de chauffage à combustibles fossiles. En outre, les cendres produites par la combustion de pellets de bois sont souvent réduites, ce qui signifie que l'élimination des déchets est plus facile et moins coûteuse.</p>
  </section>

  <section>
    <h2>5. Réduction de l'empreinte carbone</h2>
    <p>Facile à stocker : Les pellets de bois prennent moins de place que le bois de chauffage traditionnel et sont souvent vendus en sacs de taille standard. Cela les rend faciles à stocker et à manipuler, et ils peuvent être stockés à l'intérieur ou à l'extérieur de la maison sans prendre trop de place.</p>
  </section>
</main>
