<div class="forest-background"></div>
  <div class="creators">
    <% @creators.each do |creator|%>
      <%= link_to creator_path(creator), class:"text-decoration-none" do %>
        <div class="card-creator">
          <img src=<%= creator.photo_url %> />
          <div class="card-creator-infos">
            <h2><%=creator.name%></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
