

<div class="creators-descrip">
  <div class="card-creator-desc">
    <img src=<%= @creator.photo_url %> />
    <div class="card-creator-infos-desc">
      <p><%= @creator.description %></p>
    </div>
  </div>
</div>
