<div class="countdown" data-controller="countdown" data-countdown-endtime-value="<%= @sale.end_date %>" data-animation-target="countdown_sale" class="countdown_sale hidden">
  <div id="msg-end-sale"><i class="fa-solid fa-clock"></i> Fin de la vente dans</div>
  <div id="timer">
    <span data-countdown-target="days"></span>
    <span>J:</span>
    <span data-countdown-target="hours"></span>
    <span>h:</span>
    <span data-countdown-target="minutes"></span>
    <span>min:</span>
    <span data-countdown-target="seconds"></span>
  </div>
</div>
