<div class="countdown" data-controller="countdown" data-countdown-endtime-value="<%= @sale.end_date %>">
  <div id="msg-end-sale">Fin de la vente dans</div>
  <div id="timer">
    <span data-countdown-target="days"></span>
    <span>J:</span>
    <span data-countdown-target="hours"></span>
    <span>h:</span>
    <span data-countdown-target="minutes"></span>
    <span>min:</span>
    <span data-countdown-target="seconds"></span>
  </div>
</div>
