<div class="select-button" data-animation-target="slidebar" class="slidebar hidden">
  <div class="range-slider">
    <%= simple_form_for [:customer, @sale, @order] do |f| %>
      <%= f.input :capacity, as: :range, id: "capacity", label: "Sélectionnez la Quantité:", input_html: { min: (@sale.sale_capacity * 0.1), max: (@sale.sale_capacity - @sale.current_capacity.to_i), value: 2, data: { range_slider_target: 'input', action: 'range-slider#onInput'}}%>
      <%# <%= f.input_field :capacity, class: "field", data: { range_slider_target: 'output' } %>
      <output for="capacity" data-range-slider-target="output"></output >
      <div class="total">
        <p>Prix total: <span data-range-slider-target="price"></span> €</p>
        <p>Poids total: <span data-range-slider-target="weight"></span> Kg</p>
      </div>
      <%= f.button :submit, class: 'btn btn-lg w-100', data: { turbo: false } %>
    <% end %>
  </div>
</div>
