/* app/assets/stylesheets/countdown.css */

.countdown {
  width: 300px;
  font-size: 1.5rem;

  #timer, #msg-end-sale {
    display: flex;
    justify-content: center;
    align-items: center;

    span:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

// .countdown > div {
//  width: 500px;
// }

// #timer span[data-countdown-target="days"]::before {
//   content: "Days ";
// }

// #timer span[data-countdown-target="hours"]::before {
//   content: "Hours ";
// }

// #timer span[data-countdown-target="minutes"]::before {
//   content: "Minutes ";
// }

// #timer span[data-countdown-target="seconds"]::before {
//   content: "Seconds ";
// }
