/* app/assets/stylesheets/countdown.css */

.countdown {
  position: absolute;
  left: 680px;
  bottom: -325px;
  width: 300px;
  height: 150px;

  #timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

    span:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.countdown > div {
  width: 500px;
}

// #timer span[data-countdown-target="days"]::before {
//   content: "Days ";
// }

// #timer span[data-countdown-target="hours"]::before {
//   content: "Hours ";
// }

// #timer span[data-countdown-target="minutes"]::before {
//   content: "Minutes ";
// }

// #timer span[data-countdown-target="seconds"]::before {
//   content: "Seconds ";
// }
