.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;

  a {
    text-decoration: none;
    color: black
  }
}

.card-pellet {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    transform: scale(1.05);
  }
}

.card-pellet-style {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
}

.card-image {
  position: relative;
  padding-top: 75%;
  margin-bottom: 20px;

  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .card-eco-score {
    position: absolute;
    display: flex;
    color: #7bf1a8;
    top: 10px;
    left: 12px;
  }
}

.card-sale {
  position: relative;
}

.card-content {
  padding: 0 20px;

  .card-title {
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    margin-bottom: 8px;
  }

  .card-descriptif {
    margin-top: 0;
    text-align: center;
    // justify-content: center;
    opacity: .5;
    margin-bottom: 12px;
    // height: 100px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;

    .card-rate {
      .fa-solid {
        color: gold;
      }
    }

    .card-lot {
      margin-top: 0;
    }
  }
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
}


.progress-container {
  width: 100%;
  height: 15px;
  // background-color: #eee;
  background-color: #e9ecef;
  // background-color: #dee2e6;
  border-radius: 30px;
  margin-bottom: 40px;

  .progress-bar {
    height: 100%;
    width: 0%;
    // background-color: #7bf1a8;
    background-color: #4CAF50;
    border-radius: 30px;
  }
}


.card-footer {
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #495057;
  color: white;
  align-items: center;
  text-align: center;


  .card-capacity, .card-price, .card-date {
    width: 100%;
    padding-top: 10px;
  }

  .vertical-bar {
    width: 3px;
    height: 74px;
    background-color: black;
    opacity: .3;
  }
}

.sale-card {
  text-align: center;

  .geo-map {
    width: 100%;
    height: 450px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.hiddenmap {
  visibility: hidden;
  height: 0px;
}

.btn-fixed {
  position: sticky;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
}
