.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-pellet {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    transform: scale(1.05);
  }
}

.card-pellet-style {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}

.card-image {
  position: relative;
  padding-top: 75%;
  margin-bottom: 20px;

  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .card-eco-score {
    position: absolute;
    display: flex;
    color: #7bf1a8;
    top: 10px;
    left: 12px;
  }
}

.card-content {
  padding: 0 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-weight: bold;
  margin-top: 0;
}

.card-lot {
  margin-top: 0;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
}

.card-capacity_date {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-price {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.card-progress {
  width: 70%;
  height: 10px;
  // background-color: #eee;
  background-color: #e9ecef;
  // background-color: #dee2e6;
  margin-top: 16px;
}

.progress-bar {
  height: 100%;
  background-color: #4CAF50;
}

.sale-card {
  text-align: center;

  .geo-map {
    width: 100%;
    height: 450px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.hiddenmap {
  visibility: hidden;
  height: 0px;
}

.btn-fixed {
  position: sticky;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
}
