
.map-wrapper {
  height: 55vh;
}

.geo-map {
  margin: auto;
  width: 50%;
  height: 300px;

  .fa-solid {
    font-size: 28px;
  }

  .fa-house-user {
    color: #C49650;
  }

  .fa-location-dot {
    color: #3B5B50
  }
}
