.navbar-lewagon {
  justify-content: space-between;
  // background: #FAEFDB;
  // background: #fbfefb;
  background: white;
  // background: #04534f;
  // background: #03363d;
  height: 8vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.welcome-user {
  span {
    font-weight: bold;
  }
}
