.Avis-container {
  margin: 20px;
}

.review {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review p:first-child {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.review p.rating {
  margin-bottom: 0;
}

.review i.fa-star, .review i.far.fa-star {
  color: gold;
}

.review p.content {
  margin-top: 0;
}

.rounded-img {
  border-radius: 50%;
  width: 30px;
}
