<% if @sale %>
    <div class="order-draw" data-range-slider-target="draw">
      <% (@sale.sale_capacity - @sale.current_capacity.to_i).times do %>
        <div class="order-draw-circle"><%= content_tag :i, '', class: 'fa-regular fa-circle' %></div>
      <% end %>
      <% @sale.orders.each do | order | %>
        <% order.capacity.times do %>
          <div class="order-draw-avatar">
            <% if order.user.photo.attached? %>
              <%= cl_image_tag order.user.photo.key %>
            <% else %>
              <%= image_tag "avatar.png" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= render 'countdown', product: @sale.product %>
<% end %>
