<div class="card-bg">
  <div class="card-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path "pellet.png" %>')"></div>
  <div class="card-wrapper" id="card-wrapper">
    <div class="card-pellet-style">
      <%= render "card_product", product: @product %>
    </div>
    <%= render "card_produit_description", product: @product %>
  </div>
</div>
