<div class="sale-card" data-search-sales-target='list'>
  <ul>
    <% sales.each do |sale| %>
      <li><%= link_to sale.address, sale_path(sale) %> by <%= sale.product.user.first_name %> (<%= sale.product.user.email %>)</li>
    <% end %>
  </ul>
</div>
