<h1>Sales</h1>

<ul>
<% @sales.each do |sale| %>
  <li><%= link_to sale.address, sale_path(sale) %></li>
<% end %>
</ul>

<div class="geo-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
